body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    cursor: pointer;
}

table .th-sort-asc::after {
    content: "&#9652;";
}

table .th-sort-desc::after {
    content: "&#9662;";
}

table.th-sort-asc::after,
table .th-sort-desc::after {
    margin-left: 5px;
}

table .th-sort-asc,
table .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}