{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container text-center py-5">
        <h1>List of Employees</h1>
        <div class="row justify-content-center">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Search" id="search-input">
            </div>

        </div>
    </div>
    <div class="container">
        <div class="table-responsive-sm">

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Full Name</th>
                    <th>Position</th>
                    <th>Hire Date</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody id="employee-table">
                {% for employee in page_obj %}
                    <tr>
                        <td>{{ employee.full_name }}</td>
                        <td>{{ employee.position }}</td>
                        <td>{{ employee.hire_date|date:"Y-m-d" }}</td>
                        <td>{{ employee.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" tabindex="-1"
                           href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>

                {% endif %}

                <li class="page-item disabled">
                    <a class="page-link">{{ page_obj.number }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
                {% endif %}
            </ul>


        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/employeesList.js' %}"></script>
{% endblock %}
