{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Login
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-6">
                <h2 class="text-center">Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_messages %}
                    {% bootstrap_form form %}
                    <div class="d-flex gap-5 ">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <p class="text-center align-middle">Not a member? <a href="{% url 'register' %}">Register</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}